html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 100 14px 'Roboto';
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 375px;
  height: 444px;
  position: absolute;
  top: 0px;
}

button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  user-select: none;
  cursor: pointer;
}

.calculator {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
}

.calc-display {
  background: #3E3636;
  width: 100%;
  height: 100px;
  color: #FFF;
  outline: 1px solid #000;
  transform-origin: right;
  position: absolute;
  flex: 1;
  right: 0;
}

.calc-text {
  position: absolute;
  right: 0;
  transform-origin: right;
  display: inline-block;
  flex: 1;
  height: 100px;
  padding: 15px;
}

.calc-keys {
  width: 100%;
  height: 334px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #FFF;
  position: absolute;
  top: 100px;
}

.key {
  height: 67px;
  width: 93px;
  font-size: 3em;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
}

.key:active {
  background: #7DEBDF;
  color: #FFF;
}

.key-ce {
  width: 186px;
}

.key-0 {
  width: 186px;
}


